
/* Google font Playfair Display import */
@import 
url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Playfair Display', serif; */


/* Google font Montserrat import*/
@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body{
margin: 0;
padding: 0;
background-color: #000000;
overflow-x: hidden;
font-family: 'Playfair Display', serif;
height: 100vh;
color:black;
width: 100%;
}
.alltags{
  background-color: #000000;
}

/* <!-- ///////////////////////////////// Major Heading============================ --> */


/* .glider p{
  background-color: rgb(184, 20, 129);
  background-size: cover;
} */


*,*::before,*::after {
  box-sizing: border-box;
}


/* ======================= background carousel============================ */

/*custom css*/
    .bg1{
    background-image: url(https://i.postimg.cc/fRHkfrXQ/Banner-5-1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    }
   
    
    .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
    height: 100vh;
    }
    
    .carousel-fade .carousel-inner .active {
    opacity: 1;
    }
    
    @media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    }


    /* ===================Carousel Image for phone ================= */

   /* ===================Carousel Image for phone ================= */

   @media screen and (max-width: 768px){
    .carousel-inner{
        z-index: 4;
        max-width: 100%;
        /* display: none; */
    }
    body{
        background-color: #ffffff;
    }
    .bg1{
      background-image: url(https://i.postimg.cc/bJBqRWcb/i-Phone-11-Pro-Max-6.png);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      }

    
  }

/* ///////////////////////////////Carousel Image for Tablet ================= */

@media screen and (max-width: 1024px){
  .carousel-inner{
      z-index: 0;
      /* display: none; */
  }
  body{
      background-color: #ffffff;
      overflow-x: hidden;
  }
  
}


/* ////////////////////////////////Carousel Image for Phones ================= */

@media screen and (max-width: 584px){
  .carousel-inner{
      z-index: 0;
      /* display: none; */
  }
  body{
      background-color: #ffffff;
      overflow-x: hidden;
  }
  .bg1{
    background-image: url(https://i.postimg.cc/Zq2Hhc0y/i-Phone-11-Pro-Max-9-2.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    }

}

/* ///////////////////////////////////////////////////End of Hero Section ============================ */

/* ////////////////////////////////////////////////// Prizes ========================================= */

:root {
  --cardWidth: 300px;
  --cardHeight: 250px;
  --cardMargin: 16px;
  --wcardWidth: 350px;
  --wcardHeight: 300px;
}

.main-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(0, 0, 0);
  align-items:center;
}
.card {
  font-family: montserrat;
  width: var(--cardWidth);
  height: var(--cardHeight);
  margin: var(--cardMargin);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter:blur(30px);
  background-clip: padding-box;
  box-shadow: 10 10 10px rgba(45, 55, 68, 0.30);
}
.wcard {
  font-family: montserrat;
  width: var(--wcardWidth);
  height: var(--wcardHeight);
  margin: var(--cardMargin);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter:blur(30px);
  background-clip: padding-box;
  box-shadow: 10 10 10px rgba(45, 55, 68, 0.30);
}
.wcard p{
  font-size:18px;

}


.main-section .card button{
 padding: 10px 30px;
 margin-bottom:20px;
 background: #FDE08D;
  	background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
border:#8f6B29 2px solid;
font-weight: bold;
}

.main-section .wcard button{
  padding: 10px 60px;
  margin-bottom:20px;
  background: #FDE08D;
     background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
   background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
 border:#8f6B29 2px solid;
 font-weight: bold;
 font-size:18px;
 }

.main-section .card p{
  color: #fff;
}

.main-section .wcard p{
  color: #fff;
}


/* ///////////////////////////Registration Form============================ */

.registration{
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
}

.glassbox{
  width: 75%;
  background-color: rgba(255,255,255,0.1);
  padding:2% 10%;
  border-radius: 5px;
  backdrop-filter:blur(30px);
  border:2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10 10 10px rgba(45, 55, 68, 0.30);
  background-size: 90%;
  height: 30vh;
  margin: 0 auto;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glasscontent h4{
  color: #fff;
}
.glasscontent{
  text-align: center;
  vertical-align: middle;
  /* line-height: 15vh; */
  color: white;
  padding:2%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.glasscontent button{
  margin-top:9px;
  margin-bottom: 10px;
  padding: 20px 55px;
  /* text-transform: uppercase; */
  color:#fff;
    background:#ec1b30;
    outline: none;
    border: none;
    font-weight: bolder;
  text-transform: uppercase;
}

.glasscontent button:hover{
  border: 2px solid #ec1b30;
  background:none transparent;
}

.glasscontent button a{
  text-decoration: none;
  color: #fff;
}
.glasscontent h4 span{
  font-size:30px;
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ////////////////////////////Modal============================================ */
.modal-container{
  position:fixed;
  top:0;
  left:0;
  opacity: 0;
  pointer-events: none;
  height:100%;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content: center;
  z-index: 9;
}
.modal-container.show{
  pointer-events: auto;
  opacity: 1;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.897);
  
}
.modals{
  font-family: poppins;
  margin:10% auto;
  background: #fff;
  padding:30px 30px;
  width: 500px;
  max-width: 100%;
  text-align: center;
  box-shadow: -8px 7px 5px -1px rgba(0,0,0,0.07);
-webkit-box-shadow: -8px 7px 5px -1px rgba(0,0,0,0.07);
-moz-box-shadow: -8px 7px 5px -1px rgba(0,0,0,0.07);
}

#close{
  padding:10px 30px;
  border-radius: 0;
  outline: none;
  border: none;
  margin: 5%;
  color: #fff;
  background-color: #ec1b30;
}

.modals h3{
  padding:2% 0;
  font-family: Playfair;
  line-height:30px;
}
.modals h3 span{
  color:#ec1b30;
  
}
.modals h4 span{
  margin-left:10px;
  font-weight:bold;
  color: #000000;
}
.modals p span{
  margin-left:10px;
  font-weight:bold;
  color: #ec1b30;
}
.modals h4{
  color: #00000098;
}

/* ///////////////////////////Registration Form ends============================ */


/* ////////////////////////////Registration form media query==================== */

@media screen and (max-width: 768px){
  .registration{
    position: relative;
    width: 100%;
    height: 40vh;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-position: center; 
  }
  .glassbox{
    width: 80vw;
    height: 27vh;
  }
  .glasscontent h4{
    color: #fff;
    font-size:18px;
    line-height: 30px;
  }
  .glasscontent button{
    margin-top:20px;
    padding: 20px 25px;
    /* text-transform: uppercase; */
    font-size:16px;
    letter-spacing: 1px;
    background:#ec1b30;
    padding: 10px 30px;
    letter-spacing: 1px;
  }

}
/* /////////////////////////registration form media query for small phones=========== */


@media screen and (max-width: 375px){
 
  
  .glasscontent h3{
    color: #fff;
    font-size:18px;
    line-height: 30px;
  }
  .glassbox{
    width: 80vw;
    height: 34vh;
  }
 
}


/* ============================gallery section ================================ */


.gallerycontainer{
  padding:50px 0 0;
  background-color: #000000;
  height: 100vh;
  /* position: relative; */
}
.galleryinner{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.Gallery h2{
  text-transform: uppercase;
  max-width: 100%;
  color: #ffffff;
  /* margin-bottom: 7%; */
  font-size: 40px;
}
/* ///////////////////////////////// new codes================================ */
.Gallery{
  background-color: #ffffff;
  height: auto;
}


.marquee-content img{
  width: 400px !important;
  padding: 10% 15%;
}

:root {
  --marquee-width: 70vw;
  --marquee-height: 55vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 3;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.MarqueeContainer{
  /* background-color: black; */
  margin-top: 5%;
  width: 70%;
  padding: 5%, 5%;
  /* margin-left: 10%; */
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  /* background-color: #111; */
  color: rgba(180, 112, 112, 0);
  overflow: hidden;
  position: relative;
  /* border-radius: 20px; */
  /* margin-bottom: 10%; */
}

.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  /* border: 2px solid rgba(238, 238, 238, 0.171); */
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 22rem; }
}






/* ==================================Gallery section media query ============================= */
/* ========================================================================================== */

@media(min-width: 1200px) {
 
}

@media(max-width: 800px) {
  
}

@media(max-width: 786px) {
  .Gallery{
    height:70vh;
  }
  .Gallery h2{
    text-transform: uppercase;
    max-width: 100%;
    margin:5%;
    margin-bottom: 20%;
    font-size: 24px;
    text-align: center;
    height: 80px;
    background-color: #18cf2100;
    line-height: 40px;
  }
  /* .gallerycontainer{
    height: 180vh;
  } */
  .galleryinner{
    display:flex;
    flex-direction: column;
  }

  .marquee-content img{
  width: 400px !important;
  margin-bottom: 100px !important;
  }
  :root {
    --marquee-width: 90vw;
    --marquee-height: 50vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 1;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }

  .marquee:before {
    left: 0;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.185) 0%, transparent 100%);
  }
  .marquee:after {
    left: 30px;
    background: linear-gradient(to left, #111 0%, transparent 100%);
    display:none;
  }
  .MarqueeContainer{
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    width: 90%;
    padding: 0;
    /* height:900px !important; */
    /* margin-left: 10%; */
  }
  marquee{
    /* background-color:#181616; */
    width: 100%;
    margin-left:40%;
  }
}


/* ///////////////////////////////////Gallery section media query for small phones================ */

@media(max-width: 375px){
  .Gallery{
    height:85vh;
    background:rgb(163, 41, 41);
  }
  .Gallery h2{
    text-transform: uppercase;
    max-width: 100%;
    margin:10%;
    margin-bottom: 15%;
    font-size: 20px;
    text-align: center;
    height: 60px;
    background-color: #18cf2100;
    line-height: 40px;
  }
  /* .gallerycontainer{
    height: 180vh;
  } */
  .galleryinner{
    display:flex;
    flex-direction: column;
  }

  .marquee-content img{
  width: 400px !important;
  margin-bottom: 10px !important;
  }
  
}

/* //////////////////////////////////new code ends============================= */

/* /////////////////////////////////////Gallery media query========================== */






/* //////////////////////////////SOCIAL SECTIONS=================================== */
.socialsection{
  /* background-color: #aa99991f; */
  height: 50vh;
  position: relative;
}
.Socialcontainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20%;
}
.social-text h1{
  font-size: 40px;
  text-transform: uppercase;
  font-weight:bolder;
  color: #fff;
}

/* .socialicons a:nth-child(1),
.socialicons a:nth-child(2),
.socialicons a:nth-child(3),
.socialicons a:nth-child(4)
{
  padding: 40px 20px;
  
} */
.Twitter:hover{
 color: red;
}

/* ///////////////// socialicons animantion/////////////////// */

.socialicons ul{
  list-style:none;
  padding: 40px 0px;
}
.socialicons ul li{
  display:inline-block;
  line-height:60px;
  width:60px;
  height:60px;
  background-color:#353333;
  text-align:center;
  border:1px solid #ffffff;
  border-radius:50%;
  margin:5px;
  transition:0.5s;
}
.socialicons ul li a{
  font-size:28px;
  color:#adadad;
  transition:0.5s;
}
.socialicons ul li:nth-child(1),
.socialicons ul li:nth-child(2),
.socialicons ul li:nth-child(3),
.socialicons ul li:nth-child(4) 
{
  margin: 0px 20px;
}
.socialicons ul li:hover{
  border-color:#fff;
  box-shadow:0px 0px 20px #fff,
    0px 0px 10px #fff;
}
.socialicons ul li:hover a{
  color:#fff;
}
.socialicons ul li:nth-child(1):hover a{
  color:#3498db
}
.socialicons ul li:nth-child(2):hover a{
  color:#e74c3c
}
.socialicons ul li:nth-child(3):hover a{
  color:#3498db
}
.socialicons ul li:nth-child(4):hover a{
  color:#18cf22
}
.socialicons ul li:nth-child(5):hover a{
  color:#2980b9
}


.phonenumber h2{
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 45px;
  line-height: 60px;
  margin-bottom: -10%;
}
/* ////////////////////////////////footer============================ */
footer{
  position: relative;
  height:10vh;
  background:#1f1e1e;
  color:#fff;
  font-size:15px;
  font-family: poppins;
  font-weight: 200;
  letter-spacing:5px;
  margin-top: 10%;
}
.fcontainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* /////////////////////////////footer/social section media query========================= */

@media(max-width: 786px) {
  .socialsection{
    height: 45vh;
    position: relative;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
  }
  .Socialcontainer{
    margin-top:5%;
    text-align: center;
    width: 100%;
  }
  .social-text h1{
    font-size: 28px;
    text-transform: uppercase;
    font-weight:bolder;
    color: #fff;
    margin-bottom: 15%;
  }
  .socialicons ul{
    list-style:none;
    padding: 10px 0px;
  }
  .socialicons ul li{
    display:inline-block;
    line-height:60px;
    width:55px;
    height:55px;
    background-color:#353333;
    text-align:center;
    border:1px solid #ffffff;
    border-radius:50%;
    margin:5px;
    transition:0.5s;
  }
  .socialicons ul li a{
    font-size:23px;
    color:#adadad;
    transition:0.5s;
  }
  .socialicons ul li:nth-child(1),
  .socialicons ul li:nth-child(2),
  .socialicons ul li:nth-child(3),
  .socialicons ul li:nth-child(4) 
  {
    margin: 0px 5px;
  }
  .phonenumber h2{
    font-size: 33px;
  }
  /* //////////////////////// Social section media query for small phones================== */
  /* ==================footer media query=============== */
  footer{ 
    font-size:15px;
    font-family: poppins;
    font-weight: 200;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    background:#1f1e1e;
    margin-top: 0%;
  }
  .fcontainer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:80%;
  }
  .alltags{
    background-color: #181616;
  
          /* Unnecessary IMHO, uncomment next line to force hidden behavior */
          overflow-x: hidden !important;
          /* Additional tunning proposed by the community */
          position: relative;
          width: 100%;
  }
}



 /* //////////////////////// Social section media query for small phones================== */

@media(max-width: 376px) {
  .socialsection{
    height: 40vh;
    /* overflow-x: hidden; */
    overflow-y:hidden; 
    overflow-x:auto;
  }
  .Socialcontainer{
    position: relative;
    margin-top:5%;
    text-align: center;
    width: 100%;
  }
  .social-text h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight:bolder;
    color: #fff;
    margin-bottom: 15%;
  }
  .socialicons ul{
    list-style:none;
    padding: 10px 0px;
  }
  .socialicons ul li{
    display:inline-block;
    line-height:60px;
    width:55px;
    height:55px;
    background-color:#353333;
    text-align:center;
    border:1px solid #ffffff;
    border-radius:50%;
    margin:5px;
    transition:0.5s;
  }
  .socialicons ul li a{
    font-size:23px;
    color:#adadad;
    transition:0.5s;
  }
  .socialicons ul li:nth-child(1),
  .socialicons ul li:nth-child(2),
  .socialicons ul li:nth-child(3),
  .socialicons ul li:nth-child(4) 
  {
    margin: 0px 5px;
  }
  .phonenumber h2{
    font-size: 26px;
  }


  /* //////////////////////// Social section media query for small phones================== */

  
  /* ==================footer media query=============== */
  footer{ 
    font-size:13px;
    font-family: poppins;
    font-weight: 200;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    margin-top: 0%;
  }
  .Socialcontainer{
    margin: 0;
  }
  .fcontainer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:80%;
  }
  .alltags{
    background-color: #181616;
  
          /* Unnecessary IMHO, uncomment next line to force hidden behavior */
          overflow-x: hidden !important;
          /* Additional tunning proposed by the community */
          position: relative;
          width: 100%;
  }
}
